.home {
  padding: 6rem 3rem;
  .title {
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: var(--title);
  }
  .form {
    margin-top: 1.5rem;
    position: relative;
    height: fit-content;
    .search {
      background: var(--input-background);
      border-radius: 24px;
      border: none;
      padding: 12px 0;
      padding-left: 60px;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: var(--input-active);

      &::placeholder {
        color: #97979d;
      }
    }

    .searchIcon {
      width: 24;
      height: 24px;
      stroke: var(--input-text);
      position: absolute;
      top: 12px;
      left: 24px;
    }
  }
}
