@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

:root {
  /* Color styles */
  --background: white;
  --title: black;
  --input-background: #f2f2f2;
  --input-text: rgb(151, 151, 157);
  --input-active: rgb(99, 99, 99);
  --label: rgb(127, 127, 133);
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--background);
}
