.result {
  height: 100vh;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 360px;
  margin: 0 auto;
  .card {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    .picture {
      width: 100%;
      text-align: center;
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .caption {
      display: grid;
      row-gap: 2rem;
      width: 100%;
      .nim {
        font-weight: 700;
        font-size: 36px;
        color: var(--title);
        border-bottom: 2.5px solid var(--title);
        width: fit-content;
      }
      .meta {
        display: grid;
        row-gap: 1.5rem;
        .label {
          font-weight: 500;
          font-size: 16px;
          color: var(--label);
          text-transform: uppercase;
          margin-bottom: 0.5rem;
        }
        .info {
          font-weight: 500;
          font-size: 20px;
          color: var(--title);
          text-transform: capitalize;
        }
      }
    }
    .button {
      background: var(--title);
      border: none;
      padding: 12px 24px;
      border-radius: 24px;
      color: var(--background);
      font-size: 18px;
      display: flex;
      align-items: center;
      text-transform: capitalize;
      &:hover {
        .backIcon {
          margin-left: -0.2rem;
          margin-right: 1.2rem;
          transition: 0.4s;
        }
      }
      .backIcon {
        margin-right: 1rem;
        width: 24px;
        height: 24px;
      }
    }
  }
}

@media screen and (min-width: 411px) {
  .result {
    .card {
      .picture {
        img {
          width: 240px;
          height: 240px;
        }
      }
      .caption {
        row-gap: 2.5rem;
        .nim {
          font-size: 38px;
        }
        .meta {
          .label {
            font-size: 18px;
          }
          .info {
            font-size: 24px;
          }
        }
      }
      .button {
        padding: 14px 24px;
        border-radius: 28px;
        font-size: 20px;
        .backIcon {
          width: 26px;
          height: 26px;
        }
      }
    }
  }
}

@media screen and (min-width: 540px) {
  .result {
    .card {
      .picture {
        img {
          width: 260px;
          height: 260px;
        }
      }
      .caption {
        .nim {
          font-size: 40px;
        }
        .meta {
          .label {
            font-size: 20px;
          }
          .info {
            font-size: 26px;
          }
        }
      }
      .button {
        padding: 16px 24px;
        border-radius: 32px;
        font-size: 22px;
        .backIcon {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}
