.result {
  height: 100vh;
  padding: 0 3rem;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .card {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    .picture {
      width: 100%;
      text-align: center;
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }
    .caption {
      display: grid;
      row-gap: 2rem;
      width: 100%;
      .nim {
        font-weight: 700;
        font-size: 36px;
        color: var(--title);
        margin: 0;
      }
      .meta {
        display: grid;
        row-gap: 1.5rem;
        .label {
          font-weight: 400;
          font-size: 16px;
          color: var(--label);
          text-transform: uppercase;
          margin-bottom: 0.5rem;
        }
        .info {
          font-weight: 500;
          font-size: 20px;
          color: var(--title);
          text-transform: capitalize;
        }
      }
    }
    .button {
      background: var(--title);
      border: none;
      padding: 12px 24px;
      border-radius: 24px;
      color: var(--background);
      font-size: 18px;
      display: flex;
      align-items: center;
      text-transform: capitalize;
      .backIcon {
        margin-right: 1rem;
        width: 24px;
        height: 24px;
      }
    }
  }
}
